<?xml version="1.0" encoding="utf-8" ?>

<Config>
	<App>
		<Meta>
			<Setting Name="AppName" Value="MY APPLICATION" />
			<Setting Name="AppVersion" Value="1.0.0" />
			<Setting Name="CompanyName" Value="My Company" />
			<Setting Name="InstallDirectory" Value="%ProgramFiles%\MyApplication" />
		</Meta>
	</App>
</Config>